html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

#screen-container,
#editor-container {
  height: 50vh;
}

#screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  flex-shrink: 0;
}

#editor-container {
  overflow: hidden;
}

#editor,
.cm-editor,
.cm-scroller {
  height: 100% !important;
}

.cm-scroller {
  overflow: auto !important;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}
